<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">

  <display-name>TODO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginBean</display-name>
    <servlet-name>LoginBean</servlet-name>
    <servlet-class>net.javaguides.todoapp.dao.LoginBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBean</servlet-name>
    <url-pattern>/LoginBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDao</display-name>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>net.javaguides.todoapp.dao.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDao</servlet-name>
    <url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoDao</display-name>
    <servlet-name>TodoDao</servlet-name>
    <servlet-class>net.javaguides.todoapp.dao.TodoDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoDao</servlet-name>
    <url-pattern>/TodoDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoDaoImol</display-name>
    <servlet-name>TodoDaoImol</servlet-name>
    <servlet-class>net.javaguides.todoapp.dao.TodoDaoImol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoDaoImol</servlet-name>
    <url-pattern>/TodoDaoImol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>net.javaguides.todoapp.dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Todo</display-name>
    <servlet-name>Todo</servlet-name>
    <servlet-class>net.javaguides.todoapp.model.Todo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Todo</servlet-name>
    <url-pattern>/Todo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>net.javaguides.todoapp.model.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCUtils</display-name>
    <servlet-name>JDBCUtils</servlet-name>
    <servlet-class>net.javaguides.todoapp.utils.JDBCUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCUtils</servlet-name>
    <url-pattern>/JDBCUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>net.javaguides.todoapp.web.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoController</display-name>
    <servlet-name>TodoController</servlet-name>
    <servlet-class>net.javaguides.todoapp.web.TodoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoController</servlet-name>
    <url-pattern>/TodoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>net.javaguides.todoapp.web.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
</web-app>